
@media (max-width: 850px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}

	#works {
		margin-left: -20px;
		margin-right: -20px;
	}

	.work .head {
		display: flex;
		flex-direction: column;
		width: 50%;
		min-width: 0;
		min-height: 100px;
	}

	.work .head .title,
	.work .head .type {
		position: static;
		width: auto;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 20px;
		padding: 0;
		text-align: right;
		background-color: transparent;
	}
	.work .head .type {
		display: flex;
		flex-direction: row-reverse;
		align-items: baseline;
		margin-top: 0.1em;
		margin-bottom: 0.4em;
	}
	.work .head .type .year {
		padding-right: 0.4em;
	}

	.work .head .image {
		min-height: 150px;
	}

	.work .head .links {
		font-size: 1em;
	}

	.work .description {
		width: 50%;
		min-width: 0;
		max-width: auto;
		margin-right: 20px;
		margin-top: 0.35em;
	}
}

@media (max-width: 580px) {
	.text {
		font-size: 12pt;
	}

	.work {
		flex-direction: column;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.work .head {
		width: 100%;
		max-width: 500px;
	}

	.work .head .title,
	.work .head .type {
		position: static;
		width: auto;
		margin-top: 0;
		margin-bottom: 0;
		order: 1;
		padding: 0;
		text-align: left;
		background-color: transparent;
	}
	.work .head .type {
		display: block;
	}

	.work .head .image {
		min-height: 0;
		margin-bottom: 0;
	}
	.work .head .image::after {
		display: block;
		content: "";
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 70px;
		margin-top: -70px;
		background:
			linear-gradient(to top,
				rgba(0, 0, 0, 0.8) 0%,
				rgba(0, 0, 0, 0.6) 12.5%,
				rgba(0, 0, 0, 0.4) 25%,
				rgba(0, 0, 0, 0.2) 50%,
				rgba(0, 0, 0, 0) 100%);
	}

	.work .head .links {
		position: static;
		width: auto;
		order: 1;
		margin-left: 20px;
		margin-top: 5px;
		text-align: left;
	}

	.work .description {
		width: auto;
		margin-top: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
}
