
body {
	background: #111;
	color: #eee;
	font: 10pt/1.6 "Trebuchet MS", "Verdana", sans-serif;
	letter-spacing: 0.05em;
	padding: 0 30px 50px;
	margin: 0;
	}

a {
	color: #cf0;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
div {
/*	border: 1px solid #f00; */
	}
img {
	display: block;
	}
p {
	margin: 0 0 0.6em 0;
	}
hr {
	clear: both;
	height: 0;
	margin: 0;
	border: none;
	}


#language {
	color: #000;
	background: #cf0;
	font-style: italic;
	text-decoration: none;
	top: 0;
	right: 0;
	padding: 5px 10px 3px 5px;
	position: absolute;
	outline: transparent none;
	}
#top {
	margin-top: 30px;
	margin-bottom: 40px;
	}
#bottom {
	margin-top: 40px;
	margin-bottom: 20px;
	}
.text {
	font-size: 14pt;
	margin-left: 15px;
	margin-right: 15px;
	}
.work {
	margin-top: 30px;
	}
.name {
	width: 500px;
	height: 300px;
	margin-left: -30px;
	float: left;
	}
.description {
	width: 400px;
	margin-left: 15px;
	float: left;
	}
.separator {
	clear: both;
	}


.text .me {
	padding: 0 0.2em;
	background: #cf0;
	color: #000;
	}
.text .small {
	font-size: 10pt;
	}

.name img {
	width: 500px;
	}
.name h1, .name p {
	margin: 0 0 0 40px;
	padding: 0 5px 0.2em;
	}
.name h1 {
	color: #cf0;
	font-size: 20pt;
	font-weight: normal;
	margin-top: 25px;
	line-height: 1;
	background: #111;
	position: absolute;
	display: inline-block;
	}
.name p {
	margin-top: 10px;
	background: #111;
	line-height: 1;
	position: absolute;
	display: inline-block;
	}
.name img {
	background: #222;
	width: 500px;
	height: 300px;
	}
.name ul {
	color: #000;
	font-style: italic;
	font-size: 14pt;
	width: 490px;
	margin: -43px 0 0 0;
	padding: 0;
	text-align: right;
	list-style-type: none;
	position: absolute;
	}
.name ul li {
	font-weight: bold;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
/*	float: right; */
	}
.name ul li a {
	color: #000;
	background: #cf0;
	line-height: 1;
	text-decoration: none;
	padding: 0 5px 0.2em;
	}

.description p {
	clear: both;
	}
.description a.ext-link {
	font-style: italic;
	white-space: nowrap;
	}
